apiVersion: v1
kind: Config

clusters:
  - cluster:
      certificate-authority: {{KUBERNETES_CONFIG_DIR}}/{{PEM_CA}}
      server: https://{{KUBERNETES_MASTER_IP}}:6443
    name: kubernetes

contexts:
  - context:
      cluster: kubernetes
      user: kubelet
    name: kubelet

current-context: kubelet

users:
  - name: kubelet
    user:
      token: {{KUBERNETES_AUTH_TOKEN_VALUE}}
