[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStart=/usr/bin/kube-apiserver \
  --admission-control=NamespaceLifecycle,LimitRanger,SecurityContextDeny,ServiceAccount,ResourceQuota \
  --advertise-address={{ hostvars[inventory_hostname]['ansible_eth0']['ipv4']['address'] }} \
  --allow-privileged=true \
  --apiserver-count=3 \
  --authorization-mode=ABAC \
  --authorization-policy-file={{KUBERNETES_CONFIG_DIR}}/{{KUBERNETES_AUTHORIZATION_POLICY_NAME}} \
  --bind-address=0.0.0.0 \
  --enable-swagger-ui=true \
  --etcd-cafile={{KUBERNETES_CONFIG_DIR}}/{{PEM_CA}} \
  --insecure-bind-address=0.0.0.0 \
  --kubelet-certificate-authority={{KUBERNETES_CONFIG_DIR}}/{{PEM_CA}} \
  --etcd-servers={% for node in (ETCD_NODES.values() | list) %}https://{{ node.ip }}:2379{%- if not loop.last %},{% endif -%}{% endfor %} \
  --service-account-key-file={{KUBERNETES_CONFIG_DIR}}/{{PEM_KUBERNETES_KEY}} \
  --service-cluster-ip-range={{KUBERNETES_SERVICE_CLUSTER_IP_RANGE}} \
  --service-node-port-range=30000-32767 \
  --tls-cert-file={{KUBERNETES_CONFIG_DIR}}/{{PEM_KUBERNETES}} \
  --tls-private-key-file={{KUBERNETES_CONFIG_DIR}}/{{PEM_KUBERNETES_KEY}} \
  --token-auth-file={{KUBERNETES_CONFIG_DIR}}/{{KUBERNETES_AUTH_TOKEN}} \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
